* {
    margin: 0;
    padding: 0;
}

body {
    background: url(photos/lt_back_2.jpg) no-repeat fixed;
    background-position: center;
    background-size: 100% 100%;

}

/* 顶端部分 */
.toparea {
    background-color: rgb(33, 32, 32);
    height: 50px;
    border-bottom: 10px rgb(186, 85, 23) solid;
    line-height: 50px;
    color: antiquewhite;
    width: 100%;
    position: fixed;
    top: 0;

}

.container1 {
    padding-left: 30px;
    display: inline-block;
    width: 200px;
}

.container1 a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 20px;

    color: antiquewhite;
}

.toparea a:hover {
    background-color: rgb(95, 12, 69);
}

.container2 {
    display: block;
    width: 200px;
    float: right;
    margin-right: 50px;

}

.container2 a {
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 20px;

    color: antiquewhite;
}

.scene {
    margin-top: 10%;
}

/* box1部分 */
.box1 {
    display: block;
    width: 600px;
    height: 273px;
    background-color: rgba(22, 21, 21, 0.7);
    line-height: 273px;
    float: left;
    margin-left: 5%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 5px rgba(249, 38, 136, 0.432);
}

.box1 img {
    display: block;
    float: left;
    border-right: 5px solid rgb(186, 85, 23);
}

.box1 span {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 20px;
    color: antiquewhite;
}

.box1 a {
    width: 600px;
    height: 273px;
    display: block;
}

.box1 a:hover {
    box-shadow: 0 0 5px 5px rgb(186, 85, 23);
}



/* box2部分 */
.box2 {
    display: block;
    width: 600px;
    height: 273px;
    background-color: rgba(22, 21, 21, 0.7);
    line-height: 273px;
    box-shadow: 0 0 5px 5px rgba(249, 38, 136, 0.432);
    float: left;
    margin-left: 5%;
    margin-bottom: 10px;

}

.box2 img {
    display: block;
    float: left;
    border-right: 5px solid rgb(186, 85, 23);

}

.box2 span {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 20px;
    color: antiquewhite;
}


.box2 a {
    width: 600px;
    height: 273px;
    display: block;
}

.box2 a:hover {
    box-shadow: 0 0 5px 5px rgb(186, 85, 23);
}


/* box3部分 */
.box3 {
    float: left;
    width: 600px;
    height: 273px;
    background-color: rgba(22, 21, 21, 0.7);
    line-height: 273px;
    margin-left: 5%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 5px rgba(249, 38, 136, 0.432);
}

.box3 a {
    width: 600px;
    height: 273px;
    display: block;
}

.box3 img {
    display: block;
    float: left;
    border-right: 5px solid rgb(186, 85, 23);
}

.box3 span {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 20px;
    color: antiquewhite;
}

.box3 a:hover {
    box-shadow: 0 0 5px 5px rgb(186, 85, 23);
}

/* box4部分 */

.box4 {
    float: left;
    width: 600px;
    height: 273px;
    background-color: rgba(22, 21, 21, 0.7);
    line-height: 273px;
    margin-left: 5%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 5px rgba(249, 38, 136, 0.432);
}

.box4 a {
    width: 600px;
    height: 273px;
    display: block;
}

.box4 img {
    display: block;
    float: left;
    border-right: 5px solid rgb(186, 85, 23);
}

.box4 span {
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 20px;
    color: antiquewhite;
}

.box4 a:hover {
    box-shadow: 0 0 5px 5px rgb(186, 85, 23);
}